#NPC Base Configuration
#
#allowBypassInvulnerability: Allows damage types like /kill command or void to bypass NPC invulnerability (default: true)
#Fri Feb 27 16:23:37 ART 2026
allowBypassInvulnerability=true
